<!doctype html>
<html lang="<%= site.locale %>" class="">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %> dark:text-white dark:bg-slate-900 bg-white px-6 pt-4 sm:pt-6 pb-24 sm:pb-32 lg:px-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

      <main class="prose-sm sm:prose mx-auto dark:text-white">
        <%= yield %>
        <a href="#top" class="back-to-top">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 6-6m0 0 6 6m-6-6v12a6 6 0 0 1-12 0v-3" />
          </svg>
        </a>
      </main>

      <%= render "footer", metadata: site.metadata %>
    </div>
  </body>
</html>
